.join-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.join-box input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 15px;
    height: 50px;
    margin-bottom: 30px;
}

.join-type {
    padding: 200px 0;
}
.member-form {
    max-width: 665px;
    border: 1px solid #dedede;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
}
.member-form h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}
.member-form .list li {
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.member-form .list li::before {
    content: "";
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}
.member-form h4 {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
.member-form .blue {
    background-color: #f5f5f5;
    padding: 20px;
}

.join-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.join-box input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 15px;
    height: 50px;
    margin-bottom: 30px;
}

.join-submint {
    font-size: 16px;
    background: #eee;
    padding: 15px;
    display: block;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
}
.join-submint:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}
